<div class="container">
     <form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
        <div className="input-group" class="form-group">
            <span class="input-group-text">First and last name</span>
            <input type="text" formControlName="firstname" aria-label="First name" placeholder="First Name" class="form-control">
            <input type="text" formControlName="lastname" aria-label="Last name" placeholder="Last Name" class="form-control">
            <br>
          </div>
          <div className="input-group flex-nowrap" class="form-group">
            <span class="input-group-text" id="addon-wrapping">Email</span>
            <input type="text" class="form-control" formControlName = "email" placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">
            <br>
          </div>
          <input className="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

